.main_label {
  background-color: #3889b7;
  height: 90px;
}
.main_heading {
  font-size: 35px;
  color: white;
}
.form_header {
  font-size: 20px;
  font-weight: bold;
}
.form_input {
  background-color: #ffffff;
  height: 79px;
}
.button_styles {
  font-size: 25px;
}
.button_styles_search {
  font-size: 22px;
}
